* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(211, 57, 57);
    gap: 20px;
}

h1 {
    font-size: 55px;
}

img {
    height: 100px;
}